.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.input,
.select {
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 30px;
  border: none;
  outline: 1px solid var(--primary);
  background-color: var(--primary);
  max-width: 300px;
  width: 100%;
}

.select {
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}
