.wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark);
}
.currencyRateWrapper {
  display: flex;
}

@media (max-width: 768px) {
  .currencyRateWrapper {
    flex-direction: column;
  }
}
