.wrapper {
  background-color: var(--dark);
  color: var(--white);
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.linkToProfile {
  vertical-align: middle;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 20px;
  img {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .linkToProfile {
    font-size: 16px;
    margin: 10px;
  }
}
