.wrapper {
  margin: 200px auto;
  text-align: center;
}
.title {
  font: inherit;
  font-size: 32px;
}
.converterFormWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .wrapper {
    margin: 100px 0;
  }
  .converterFormWrapper {
    flex-direction: column;
  }
}
